main {
    padding: 0 190px 0 190px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.divider-services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 189.5px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0 190px 0 190px;
    width: 100%;
}

.description-services {

    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 0 190px;

}

.description-services p {
    font-family: var(--secondary-font);
    font-size: 15.5px;
    font-weight: 500;
    color: var(--eerie);
    line-height: 100%;
}



.rectangle {
    width: 8px;
    height: 38px;
    background-color: var(--asparagus);
}

.rectangle-anesthesia {
    width: 8px;
    height: 38px;
    background-color: var(--asparagus);
}

.rectangle-inovation {
    width: 8px;
    height: 38px;
    background-color: var(--asparagus);
}

.rectangle-services {
    width: 8px;
    height: 38px;
    background-color: var(--asparagus);
}

.title-services {
    display: flex;
    align-items: center;
    gap: 8px;


}

.title-services h3 {
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
    color: #090909;
}

.cards-one {
    display: flex;
    gap: 24px;

}

.cards-two {
    display: flex;

    gap: 24px;

}

.cards-services {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding: 0 190px;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);

}

.card-br {
    width: 193px;
    height: 193px;
    border-radius: 8px;
    border: 0.5px;
    border-color: var(--asparagus);
    box-shadow: 0 4px 4px rgba(50, 50, 50, 0.2);
    background-color: #f3f7ef;
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 29px;
    padding-right: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-br:hover {
    transform: translateY(-10px) scale(1.02);

}

.cards-one p {
    display: flex;
    padding-left: 8px;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-wrap: nowrap;

}

.cards-two p {
    display: flex;
    padding-left: 8px;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-wrap: nowrap;

}

.card img {
    width: 91.5px;
    height: 80px;
    display: flex;

}

.card-br img {
    width: 91.5px;
    height: 80px;
    display: flex;

}

.card {
    width: 193px;
    height: 193px;
    border-radius: 8px;
    border: 0.5px;
    border-color: var(--asparagus);
    box-shadow: 0 4px 4px rgba(50, 50, 50, 0.2);
    background-color: #f3f7ef;
    gap: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 29px;
    padding-right: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}






.inovation-content {
    padding: 45px 190px;
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-inovation {

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 190px;
}

.description-inovation p {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
}

.title-inovation {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
}

.sub-title-inovation {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0%;
}







.card-main-inovation-two li {

    font-family: var(--secondary-font);
    font-size: var(--p-regular);
    font-weight: var(--weight-regular);

}

.card-main-inovation li {

    font-family: var(--secondary-font);
    font-size: var(--p-regular);
    font-weight: var(--weight-regular);

}

.card-main-inovation h5 {
    font-family: var(--primary-font);
    font-size: var(--h5-size);
    font-weight: var(--weight-medium);
    text-align: center;

}

.card-main-inovation-two h5 {
    font-family: var(--primary-font);
    font-size: var(--h5-size);
    font-weight: var(--weight-medium);
    text-align: center;

}



.card-main-inovation-two {
    padding-bottom: 40px;
    width: 507px;
    height: 360px;
    border: 1px solid var(--silver);
    border-radius: 12px;
    padding: 24px 12px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.2);
}

.card-main-inovation {
    padding-bottom: 40px;
    width: 507px;
    height: 360px;
    border: 1px solid var(--silver);
    border-radius: 12px;
    padding: 24px 12px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.2);
}

.card-main {
    padding-bottom: 40px;
    width: 507px;
    height: 456px;
    border: 1px solid var(--silver);
    border-radius: 12px;
    padding: 24px 12px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.2);
}

.orthodontic-container {
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    padding: 0px 190px;


}

.description-orthodontic {

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 191px;

}

.description-orthodontic p {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
}

.title-orthodontic {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
}

.sub-title-orthodontic {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0%;
}




.rectangle-orthodontic {
    width: 8px;
    height: 38px;
    background-color: var(--asparagus);
}

.cards-orthodontic {
    height: 456px;
    display: flex;
    gap: 46px;

}

#card-orthodontic {
    height: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#card-orthodontic-two {
    height: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#card-orthodontic img {
    padding-left: 91px;
    padding-right: 91px;
}






.anesthesia-container {
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    padding: 45px 190px;
}

.description-anesthesia {

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 191px;
}

.description-anesthesia p {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
}

.title-anesthesia {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
}

.sub-title-anesthesia {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0%;
}



.rectangle-anesthesia {
    width: 8px;
    height: 38px;
    background-color: var(--asparagus);
}

.main-container h3 {
    font-family: var(--primary-font);
    font-size: var(--h3-size);
    font-weight: 600;
    color: #090909;
}

.orthodontic-container h3 {
    font-family: var(--primary-font);
    font-size: var(--h3-size);
    font-weight: 600;
    color: #090909;
}

.anesthesia-container h3 {
    font-family: var(--primary-font);
    font-size: var(--h3-size);
    font-weight: 600;
    color: #090909;
}

.main-container h6 {

    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: var(--weight-medium);
    color: var(--eerie);

}

.orthodontic-container h6 {

    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: var(--weight-medium);
    color: var(--eerie);

}

.anesthesia-container h6 {

    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: var(--weight-medium);
    color: var(--eerie);

}

.main-container p {
    font-family: var(--secondary-font);
    font-size: var(--p-regular);
    font-weight: var(--weight-medium);
    color: var(--eerie);
}

.orthodontic-container p {
    font-family: var(--secondary-font);
    font-size: var(--p-regular);
    font-weight: var(--weight-medium);
    color: var(--eerie);
}

.anesthesia-container p {
    font-family: var(--secondary-font);
    font-size: var(--p-regular);
    font-weight: var(--weight-medium);
    color: var(--eerie);
}

.cards-inovation {
    height: 360px;
    display: flex;
    gap: 46px;
}


.card-main h5 {
    font-family: var(--primary-font);
    font-size: var(--h5-size);
    font-weight: var(--weight-medium);
    text-align: center;

}

.text-card-inovation {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-main li {

    font-family: var(--secondary-font);
    font-size: var(--p-regular);
    font-weight: var(--weight-regular);

}

.text-card-inovation ul {

    width: 260px;
    height: 171px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.image-inovation {

    position: absolute;
    top: 214px;
    right: 36px;
    bottom: 32px;
    left: 350px;

}

#card-two {

    border: 4px solid var(--asparagus);
    background-color: #CCE5B233;

}

#card-two img {
    position: absolute;
    top: 214px;
    right: 36px;
    bottom: 32px;
    left: 335px;
}


.images-aligner {
    width: 325px;
    height: 180px;
    display: flex;
    justify-content: center;
}

.aligner-one {

    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}

.aligner-two {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px
}

.img-smile {
    width: 325px;
    height: 176px;

}

.text-card-orthodontic ul {
    display: flex;
    padding: 12px 20px 0 20px;
    gap: 20px;

}

.text-card-orthodontic-two ul {
    display: flex;
    padding: 12px 20px 0 20px;
    gap: 20px;

}

.cards-anesthesia {
    height: 380px;
    display: flex;
    gap: 46px;
    margin-bottom: 125px;
}

#card-anesthesia {
    height: 506px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

#card-anesthesia-two {
    height: 506px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.text-card-anesthesia ul {
    display: flex;
    padding: 12px 18px 0 20px;

}

.text-card-anesthesia-two ul {
    display: flex;
    padding: 12px 18px 0 20px;
    align-items: center;
}

.text-card-anesthesia-two ul {
    display: flex;
    padding-bottom: 5px;
    gap: 20px;
}

.li-left {
    position: relative;
    left: 36px;
}

.li-right {
    position: relative;
    left: 6px;
}

.line-break-inovation-card {
    display: none;
}

@media screen and (max-width:744px) {



    .rectangle-services {
        width: 4.5px;
        height: 21px;
    }

    .line-break-services {
        display: none;
    }

    .divider-services {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .divider-services img {
        width: 585px;
    }

    .services-clinic {
        height: 329px;
    }

    .title-services {
        gap: 4.5px;
    }

    .title-services h3 {
        font-size: 24px;
    }

    .description-services {
        justify-content: center;

    }

    .description-services p {
        font-size: 12px;
    }

    .services {
        gap: 24px;
    }

    .cards-services {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13.20px;
        height: 226px;
    }

    .cards-one {
        gap: 14px;
    }

    .cards-two {
        gap: 14px;
    }

    .card-br {
        width: 106.5px;
        height: 106.5px;
        justify-content: center;
        padding-bottom: 16.50px;
        align-items: center;
        display: flex;
        gap: 9.7px;

    }

    .card-br img {
        width: 100%;
        height: 44px;
        justify-items: center;
        align-content: center;
        padding-left: 8px;
    }

    .card-br p {
        justify-content: center;
        font-size: 8.5px;
        align-items: center;
    }

    .card {
        width: 106.5px;
        height: 106.5px;
        justify-content: center;
        padding-bottom: 16.50px;
        align-items: center;
        display: flex;
        gap: 9.7px;
    }

    .card img {
        width: 100%;
        height: 44px;
        justify-items: center;
        align-content: center;
        padding-left: 8px;
    }

    .card p {

        font-size: 9px;

    }

    .inovation-content {
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    .description-inovation {
        justify-content: center;
    }

    .rectangle-inovation {
        width: 4.5px;
        height: 21px;
    }

    .title-inovation {
        gap: 4.5px;
    }

    .title-inovation h3 {
        font-size: 22px;
    }

    .sub-title-inovation h6 {
        font-size: 16px;
    }

    .description-inovation p {
        font-size: 12px;
    }

    .cards-inovation {
        height: 198px;
        gap: 26px;
    }

    .cards-inovation img {
        width: 62.64px;
        height: 62.64px;
    }

    .card-main-inovation {
        width: 279px;
        height: 198px;
        padding: 13px 6px;
        align-items: flex-start;

    }

    .card-main-inovation-two {
        width: 279px;
        height: 198px;
        padding: 13px 6px;
    }

    .text-card-inovation h5 {
        font-size: 16px;
    }

    .text-card-inovation li {
        font-size: 12px;
    }

    .text-card-inovation ul {
        width: 195px;
        height: 120px;
        gap: 8px;
        align-items: flex-start;
        display: flex;
    }

    .card-main-inovation img {
        position: absolute;
        left: 210px;
        top: 110px;

    }

    #card-two img {
        position: absolute;
        left: 206px;
        top: 110px;

    }

    .text-card-inovation {
        gap: 13.30px;
    }

    .line-break-inovation-card {
        display: block;
    }

    .line-break-inovation {
        display: none;
    }


    .orthodontic-container {
        gap: 32px;
        justify-content: center;
        align-items: center;

    }

    .rectangle-orthodontic {
        width: 4.5px;
        height: 21px;
    }

    .title-orthodontic {
        gap: 4.5px;
    }

    .title-orthodontic h3 {
        font-size: 22px;
    }

    .sub-title-orthodontic h6 {
        font-size: 16px;
    }

    .description-orthodontic p {
        font-size: 12px;
    }

    .description-orthodontic {
        justify-content: center;
        gap: 8.8px;
    }

    .cards-orthodontic {
        height: 252px;
        gap: 26px;
    }

    .text-card-orthodontic h5 {
        font-size: 18px;
    }

    .text-card-orthodontic li {
        font-size: 8px;
    }

    #card-orthodontic {
        gap: 7px;
        width: 280px;
        height: 252px;
    }

    #card-orthodontic img {
        height: 80px;
    }

    .text-card-orthodontic {
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 295px;
        padding: 12px 6px;

    }

    .text-card-orthodontic-two {
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 295px;
        padding: 12px 6px;

    }

    .text-card-orthodontic ul {

        padding-right: 5px;
        gap: 5px;

    }

    .text-card-orthodontic-two h5 {
        font-size: 18px;
    }

    .text-card-orthodontic-two li {
        font-size: 8px;
    }

    #card-orthodontic-two {
        gap: 7px;
        width: 280px;
        height: 252px;
    }

    .aligner-one {
        width: 80px;
        height: 80px;
    }

    .aligner-two {
        width: 80px;
        height: 80px;
    }

    .line-break-aligner {
        display: none;
    }



    .anesthesia-container {
        gap: 32px;

    }

    .rectangle-anesthesia {
        width: 4.5px;
        height: 21px;
    }

    .title-anesthesia {
        gap: 4.5px;
    }



    .title-anesthesia h3 {
        font-size: 22px;
    }

    .sub-title-anesthesia h6 {
        font-size: 16px;

    }

    .description-anesthesia p {
        font-size: 10px;

    }

    .description-anesthesia {
        justify-content: center;

    }

    .cards-anesthesia {
        gap: 26px;
        height: 280px;
        margin: 0;
    }

    #card-anesthesia {
        height: 280px;
        width: 280px;
        margin: 0;
        gap: 20px;
        padding: 9.5px 11px;

    }

    #card-anesthesia-two {
        height: 280px;
        width: 280px;
        gap: 20px;
        padding: 9.5px 11px;
    }


    .text-card-anesthesia h5 {
        font-size: 16px;
    }

    .text-card-anesthesia li {
        font-size: 8px;
    }

    .text-card-anesthesia-two h5 {
        font-size: 16px;
    }

    .text-card-anesthesia-two li {
        font-size: 8px;
    }

    .text-card-anesthesia ul {
        width: 260px;
    }

    .text-card-anesthesia-two ul {
        width: 270px;

    }

    #card-anesthesia img {
        height: 100px;
    }

    #card-anesthesia-two img {
        height: 90px;
    }

    .lists-anesthesia {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .li-left {
        position: relative;
        left: 20px;
    }

    .li-left-two {

        position: relative;
        left: 5px;
    }

}

@media screen and (max-width:430px) {



    .services-clinic {
        height: 212px;
    }


    .rectangle-services {
        width: 3px;
        height: 13px;
    }

    .title-services h3 {
        font-size: 16px;
    }

    .title-services {
        gap: 3px;
    }

    .description-services p {
        font-size: 10px;
    }

    .description-services {
        justify-content: center;
    }

    .divider-services {
        padding: 32px 40.5px;
    }

    .divider-services img {
        width: 350px;
    }

    .services {
        gap: 16px;
    }

    .cards-services {
        gap: 8px;
        height: 135px;
    }

    .cards-one {
        gap: 8px;

    }

    .cards-two {
        gap: 8px;

    }

    .card-br {
        width: 63.5px;
        height: 63.5px;
        padding-bottom: 20px;
        gap: 8px;
    }

    .card {
        width: 63.5px;
        height: 63.5px;
        gap: 8px;
    }

    .card-br img {
        width: 100%;
        height: 26px;

    }

    .card img {
        width: 100%;
        height: 26px;

    }

    .card p {
        font-size: 8px;

    }

    #p-br {
        text-wrap: unset;
    }

    .card-br p {
        font-size: 8px;
        white-space: normal;
        width: 70px;
        height: 20px;

    }






    .line-break-inovation {
        display: none;
    }

    .description-inovation {
        width: 100%;
        gap: 3px;
    }

    .inovation-content {
        gap: 16px;

    }

    .rectangle-inovation {
        width: 3px;
        height: 13px;
    }

    .title-inovation h3 {
        font-size: 16px;
    }

    .sub-title-inovation h6 {
        font-size: 14px;
    }

    .description-inovation p {
        font-size: 10px;
    }

    .cards-inovation {
        gap: 16px;
        padding: 0 40px;
        height: 171px;
    }

    .cards-inovation img {
        display: none;
    }

    .card-main-inovation {
        width: 165.5px;
        height: 171px;
        gap: 15px;
    }

    .card-main-inovation-two {
        width: 165.5px;
        height: 171px;
    }

    .text-card-inovation {
        gap: 8px;
    }

    .text-card-inovation-two {
        gap: 8px;
    }

    .text-card-inovation h5 {
        font-size: 12px;
    }

    .text-card-inovation-two h5 {
        font-size: 12px;
    }

    .text-card-inovation li {
        font-size: 10px;

    }

    .text-card-inovation-two li {
        font-size: 10px;
    }

    .text-card-inovation ul {

        width: 145px;
        margin-left: 10px;
    }

    .text-card-inovation-two ul {
        margin: 0;
        width: 145px;
    }



    .orthodontic-container {
        gap: 16px;
    }

    .rectangle-orthodontic {
        width: 3px;
        height: 13px;
    }

    .title-orthodontic h3 {
        font-size: 16px;
    }

    .sub-title-orthodontic h6 {
        font-size: 14px;
    }

    .description-orthodontic p {
        font-size: 10px;
    }


    .cards-orthodontic {
        gap: 16px;
    }

    #card-orthodontic {
        width: 167px;
        gap: 8px;
    }

    #card-orthodontic-two {
        width: 167px;
        gap: 8px;
    }

    #card-orthodontic img {
        height: 50px;
        bottom: 15px;
        position: relative;
    }

    .images-aligner {
        width: 106px;
        height: 59px;
        bottom: 15px;
        position: relative;
    }

    .aligner-one {
        width: 53px;
        height: 58px;
    }

    .aligner-two {
        width: 64px;
        height: 58px;
    }

    .text-card-orthodontic {
        gap: 8px;
        width: 160px;
    }

    .text-card-orthodontic-two {
        gap: 8px;
        width: 166px;
    }

    .text-card-orthodontic ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .text-card-orthodontic-two ul {
        display: flex;
        flex-direction: column;
        gap: 6px;

    }

    .text-card-orthodontic li {
        font-size: 8px;

    }

    .text-card-orthodontic-two li {
        font-size: 8px;
    }

    .text-card-orthodontic h5 {
        font-size: 11px;

    }

    .text-card-orthodontic-two h5 {
        font-size: 11px;
    }





    .anesthesia-container {
        gap: 20px;
    }

    .rectangle-anesthesia {
        width: 3px;
        height: 13px;
    }

    .title-anesthesia h3 {
        font-size: 16px;
    }

    .sub-title-anesthesia h6 {
        font-size: 14px;
    }

    .description-anesthesia p {
        font-size: 10px;
    }

    .description-anesthesia {
        gap: 10px;
    }

    .cards-anesthesia {
        gap: 16px;
        height: 266px;
    }

    .text-card-anesthesia {
        gap: 5px;
        width: 100%;
    }

    .text-card-anesthesia-two {
        gap: 5px;
        width: 100%;
    }

    .text-card-anesthesia ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 5px 8px;

        justify-content: center;
    }

    .text-card-anesthesia-two ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 5px 6.5px;

        justify-content: center;
        ;
    }

    .text-card-anesthesia li {
        font-size: 8px;

    }

    .text-card-anesthesia-two li {
        font-size: 8px;
    }

    .text-card-anesthesia h5 {
        font-size: 11px;

    }

    .text-card-anesthesia-two h5 {
        font-size: 11px;

    }

    #card-anesthesia {
        width: 167px;
        height: 270px;
        gap: 4px;
    }

    #card-anesthesia img {
        width: 108px;
        height: 65px;
    }

    #card-anesthesia-two img {
        width: 108px;
        height: 70px;
    }

    #card-anesthesia-two {
        width: 167px;
        height: 270px;
        gap: 4px;
    }

    .li-right {
        left: 0;
    }

    .li-left {
        left: 5px;
    }

    .ul-right {
        position: relative;
        left: 5px;
    }










}